/*
CSS for profiler report
*/

.pageTitle {
    text-align: center;
}

.top_panel {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    /*background-color:red;*/
}

.middle_panel {
    border-radius: 0px 0px 0px 0px !important;
    /*background-color:blue;*/
}

.bottom_panel {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    /*background-color:purple;*/
}
